.tickerContainer {
    width: 100%;
    margin-bottom: 0;
    /* Fundo transparente */
    background: transparent;
    /* Borda inferior sutil clara */
    border-bottom: 1px solid #E0E0E0;
    z-index: 20;
    position: relative;
}